#plot-text{
  border-radius: 10px;
  border: 2px solid #808080;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #F5F5F5;
  margin-right: 1rem;
}

#plot-sidebar {
  border: 2px solid #808080;
}

.navbar-static-top {
  border-bottom-color: #808080;
  border-bottom-width: 2px;
}

.table-text {
  margin-bottom: 1rem;
}

#download-button {
  margin-bottom: 1rem;
}